/* Provide sufficient contrast against white background */

$primary-light: #e9ebff;
$primary-main: #3f50b5;
$primary-dark: #002884;
$secondary-light: #f73378;

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.form-spacing-top {
  margin-top: 16px;
}

.form-spacing-bottom {
  margin-bottom: 16px;
}

.wrapper {
  padding: 16px;
}

.btn-primary {
  color: #fff;
  background-color: #1976d2;
  border-color: #1861ac;
}

.form-wrapper {
  width: 300px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}



.custom-table{

  thead{
    background-color: $primary-main;
    color: #1b6ec2;

    tr>th {
      color: #fff;
      &:focus {
        color: $secondary-light;
      }
      &:hover {
        color: $secondary-light;
      }

      span:focus {
        color: $secondary-light;
      }

      span:hover {
        color: $secondary-light;
      }
    }
  }

  tr:nth-child(even){
    background-color: $primary-light;
  }
}

